Project_WebService/Connected Services/ServiceReferenceUserAccount/UpdateAmountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UpdateAmountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49851/UpdateAmountService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49851/UpdateAmountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49851/UpdateAmountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUpdateAmountService_UpdateAmountViaUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAmountViaUsername" />
  </wsdl:message>
  <wsdl:message name="IUpdateAmountService_UpdateAmountViaUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAmountViaUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateAmountService_UpdateAmountViaId_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAmountViaId" />
  </wsdl:message>
  <wsdl:message name="IUpdateAmountService_UpdateAmountViaId_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAmountViaIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateAmountService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IUpdateAmountService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IUpdateAmountService">
    <wsdl:operation name="UpdateAmountViaUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateAmountService/UpdateAmountViaUsername" message="tns:IUpdateAmountService_UpdateAmountViaUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateAmountService/UpdateAmountViaUsernameResponse" message="tns:IUpdateAmountService_UpdateAmountViaUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAmountViaId">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateAmountService/UpdateAmountViaId" message="tns:IUpdateAmountService_UpdateAmountViaId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateAmountService/UpdateAmountViaIdResponse" message="tns:IUpdateAmountService_UpdateAmountViaId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateAmountService/GetAllUsers" message="tns:IUpdateAmountService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateAmountService/GetAllUsersResponse" message="tns:IUpdateAmountService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUpdateAmountService" type="tns:IUpdateAmountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateAmountViaUsername">
      <soap:operation soapAction="http://tempuri.org/IUpdateAmountService/UpdateAmountViaUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAmountViaId">
      <soap:operation soapAction="http://tempuri.org/IUpdateAmountService/UpdateAmountViaId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IUpdateAmountService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateAmountService">
    <wsdl:port name="BasicHttpBinding_IUpdateAmountService" binding="tns:BasicHttpBinding_IUpdateAmountService">
      <soap:address location="http://localhost:49851/UpdateAmountService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>